[Unit]
Description=Start api-gateway server
After=network.target

[Service]
User=#USER#
WorkingDirectory=#DIR#
ExecStart=#JAVA_PATH# -jar #JAR_PATH#

[Install]
WantedBy=multi-user.target